@import url(./style-null.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url(../fonts/Gilroy-Semibold.woff) format("woff"), url(../fonts/Gilroy-Semibold.ttf) format("ttf");
}
body {
  font-family: "Gilroy";
  letter-spacing: 0.03em;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  height: 100%;
}

.header-content {
  background-color: black;
  font-weight: 600;
  color: white;
  height: 64px;
  text-transform: uppercase;
  font-size: 10px;
}

.header-content__title {
  position: absolute;
  width: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 30px;
  line-height: 64px;
  cursor: pointer;
}

.header-content__wrap-left {
  float: left;
}

.header-content-left {
  display: flex;
  align-items: center;
  margin-left: 64px;
  height: 64px;
}

.header-content-left__log-in {
  position: relative;
  padding-left: 26px;
  margin-right: 40px;
  line-height: 12px;
}
.header-content-left__log-in::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -4px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: url(../img/user-interface.png) left top/100% 100% no-repeat, white;
}

.header-content-left__dicount {
  position: relative;
  padding-left: 26px;
  line-height: 15px;
}
.header-content-left__dicount::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-right: 10px;
  background: url(../img/free-icon-discount-879859.png) left top/100% 100% no-repeat, white;
}

.header-content__wrap-right {
  float: right;
}

.header-content-right {
  display: flex;
  align-items: center;
  height: 64px;
  margin-right: 64px;
}

.header-content-right__tel {
  padding: 10px 24px;
}

.header-content-right__select {
  padding: 10px 16px;
}

.header-content-right__lang {
  width: 40px;
  height: 10px;
  cursor: pointer;
}

.header-content-right__burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  margin-left: 16px;
  position: relative;
  cursor: pointer;
}

.header-content-right__burger-menu::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
}

.header-content-right__burger-menu:hover::before {
  transition: all 0.3s ease 0s;
  background-color: rgba(255, 255, 255, 0.1);
}

.header-content-right__burger-menu-body {
  height: 15px;
  width: 15px;
  position: relative;
}
.header-content-right__burger-menu-body::before, .header-content-right__burger-menu-body::after,
.header-content-right__burger-menu-body span {
  display: block;
  background-color: white;
  width: 100%;
  height: 2px;
}
.header-content-right__burger-menu-body::before, .header-content-right__burger-menu-body::after {
  content: "";
  display: block;
  position: absolute;
}
.header-content-right__burger-menu-body::before {
  top: 0;
}
.header-content-right__burger-menu-body::after {
  bottom: 0;
}
.header-content-right__burger-menu-body span {
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
}

.header-content-left__log-in,
.header-content-left__dicount,
.header-content-right__tel,
.header-content-right__select {
  transition: all 0.3s ease 0s;
}

.header-content-left__log-in:hover,
.header-content-left__dicount:hover,
.header-content-right__tel:hover,
.header-content-right__select:hover {
  transition: all 0.3s ease 0s;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.header-content-right__lang_style_active {
  opacity: 0.5;
}

.header-content-right__lang_style {
  transition: all 0.3s ease 0s;
  opacity: 1;
}
.header-content-right__lang_style:hover {
  transition: all 0.3s ease 0s;
  opacity: 0.5;
}

.skip-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -100%;
  left: 0;
  background-color: black;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
}

.skip-section_skip-up {
  animation: skip-up 1.5s cubic-bezier(0.55, 0.085, 0.45, 0.94);
}

.skip-section_skip-down {
  animation: skip-down 1.5s cubic-bezier(0.55, 0.085, 0.45, 0.94);
}

@keyframes skip-down {
  0% {
    bottom: -100%;
  }
  50% {
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  100% {
    bottom: 100%;
    display: none;
  }
}
@keyframes skip-up {
  0% {
    bottom: 100%;
  }
  50% {
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  100% {
    bottom: -100%;
    display: none;
  }
}
.main-content {
  overflow: hidden;
  height: 100%;
}

.main-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - 64px);
  padding: 50px 70px 20px;
  cursor: default;
}

.main-block__background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: img-zoom 40s linear infinite;
  z-index: -1;
  background: url(../img/img-background-1.jpg) center/cover no-repeat;
}

@keyframes img-zoom {
  0% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.2) translate(2%, 2%);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}
.empty-anim {
  animation: emptyAnim 0.75s linear;
}

@keyframes emptyAnim {}
.main-block__text-description {
  color: white;
  max-width: 350px;
  line-height: 1.4;
}

.main-block__title {
  color: white;
  text-transform: uppercase;
  font-size: 220px;
  text-align: center;
  width: 100%;
  letter-spacing: -10px;
}/*# sourceMappingURL=style.css.map */