@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import url(./style-null.css);
@import url(./skip.css);

@import url(./header/header.css);
@import url(./index/index.css);
@import url(./222/222.css);

@font-face {
    font-family: "Gilroy";
    font-weight: 600;
    src:
        url(../fonts/Gilroy-Semibold.woff) format("woff"),
        url(../fonts/Gilroy-Semibold.ttf) format("ttf");
}

body {
    font-family: "Gilroy";
    letter-spacing: 0.03em;
    height: 100%;
    overflow: hidden;
}
.block-lock {
    transition: opacity 0.3s linear 0s;
    opacity: 0;
}
.wrapper {
    height: max-content;
    width: 100%;
}






